<div class="header_container">
    <h1 id=heading>Recipe Finder</h1>
    <p>
        <%=link_to 'Create Recipe', new_recipe_path %>
    </p>
</div>
<div class="body_container">
    <table>
        <tr>
            <th>Title:</th>
            <th>Description:</th>
        </tr>
        
        <% Recipe.all.each do |recipe| %>
        <tr>
            <td><%= recipe.title %></td>
            <td><%= recipe.description %></td>
            <td><%= link_to 'Show', recipe_path(recipe) %></td> <br>
            <td><%= link_to 'Edit',  edit_recipe_path(recipe) %></td>
        </tr>
    </table>
    <% end %>
</div>