<div class="header_container">
    <h1 id=heading>Recipe Finder</h1>
    <p>
        <%=link_to 'Home', controller: 'home_page' %>
        <%=link_to 'Create Recipe', new_recipe_path %>
    </p>
</div>
    <% Recipe.all.each do |recipe| %>
    <div class= "row">
     <div class="column"> 
     <div class="card">
    <%= link_to image_tag recipe.images, :size => "300x260" %>
    <h2><%= recipe.title %></h2>
    <p>
    <%= recipe.description %>    
    </p>
    <p>
    <%= link_to 'Show Recipe', recipe_path(recipe) %>
    </p>
    <p> <%= link_to 'Edit Recipe',  edit_recipe_path(recipe) %>  
                        <%= link_to 'Report',
                             recipe_path(recipe),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %></p>
</div>
</div>
    <% end %>

</div>