<div class="header_container">
    <h1 id=heading>Recipe Finder</h1>
    <p>
        <%=link_to 'Create Recipe', new_recipe_path %>
        <%=link_to 'Home', controller: 'home_page' %>
    </p>
</div>
<% Recipe.all.each do |recipe| %>
<%= link_to image_tag recipe.images, :size => "300x260" %>
<ul>
<li>
<div class="body_container" >
    <table>
            <th>Title:</th>
            <th>Description:</th>
            <th>Instruction:</th>
            <th>Ingredients:</th>
        </tr>
        
        <tr>
            <td><%= recipe.title %></td>
            <td><%= recipe.description %></td>
            <td><%= recipe.instruction %></td>
            <td><%= recipe.ingredients %></td>
            <td><%= link_to 'Show', recipe_path(recipe) %></td> <br>
            <td><%= link_to 'Edit',  edit_recipe_path(recipe) %></td>
            <td><%= link_to 'Destroy',
                             recipe_path(recipe),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %></td>
        </tr>
        </tr>
    </table>
</li>
</ul>
    <% end %>
</div>